
        :root {
            --poppins: "Poppins", sans-serif;
            --lato: "Lato", sans-serif;
            --light: #f9f9f9;
            --blue: #3c91e6;
            --light-blue: #cfe8ff;
            --grey: #eee;
            --dark-grey: #aaaaaa;
            --dark: #342e37;
            --red: #db504a;
            --yellow: #ffce26;
            --light-yellow: #fff2c6;
            --orange: #fd7238;
            --light-orange: #ffe0d3;
            --kunif: #4CAF50;
        }
        

.nav-link {
            color: var(--dark);
            text-decoration: none;
            font-size: 16px;
            transition: 0.3s ease;
            text-align: center;
        }

        @media (max-width: 768px) {

         .nav-link {
             font-size: 14px;
        }
        }

        .sidebar {
            width: 250px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f8f9fa;
            transition: background-color 0.3s, color 0.3s;
        }

        .sidebar a,
        .sidebar li {
            color: inherit;
            text-decoration: none;
        }

        .sidebar a:hover,
        .sidebar li:hover {
            color: inherit;
            background-color: inherit;
            text-decoration: none;
        }

        .table-data .order .container form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .table-data .order .container form input[type="submit"]:hover {
            background-color: #45a049;
        }

        .table-data .order form input[type="submit"] {
            background-color: #dc3545;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .table-data .order form input[type="submit"]:hover {
            background-color: #c82333;
        }

        .btn-primary {
                    background-color: var(--kunif);
                    border-color: yellow;
                    color: white;
                    padding: 10px 20px;
                    font-size: 16px;
                    border-radius: 4px;
                    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        }
        .btn-primary:hover {
            background-color: #45a049;
            border-color: yellow;
        }
        .btn-primary:focus, .btn-primary:active {
            background-color: var(--kunif);
            outline: none;
        }
        .btn-primary i {
            margin-right: 5px;
        }

        .class {
            display: flex;
            align-items: center;
        }

        .container {
            display: flex;
            align-items: center;
        }

        .select-wrapper {
            display: flex;
            align-items: center;
        }


.container label {
            margin-right: 10px;
        }

        .container select {
            flex: 1;
            margin-right: 8px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .container input[type="submit"] {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .modal-body .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .modal-body .form-group label {
            width: 100%;
            text-align: left;
        }

        .modal-body .form-group input[type="text"],
        .modal-body .form-group input[type="number"],
        .modal-body .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .container select {
            flex: 1;
            margin-right: 8px;
            padding: 8px;
            border: 1px solid ; 
            border-radius: 4px;
            box-sizing: border-box;
            min-width: 150px;
        }

        @media only screen and (max-width: 768px) {
            .select-wrapper {
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }

            .select-wrapper label,
            .select-wrapper select,
            .select-wrapper input[type="submit"] {
                width: 100%;
                margin-top: 10px;
            }
        
        }

        .select-wrapper {
            display: flex;
            align-items: center;
        }

        .select-wrapper select,
        .select-wrapper  {
            flex: 1;
            margin-right: 8px;
        }

        .navigation-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            gap: 16px;
        }

        .navigation-container button {
            background-color: #4CAF50;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            width: 100px;
        }

        .navigation-container button:hover { 
           background-color: #45a049;
        }


        .navigation-container button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        .navigation-container span {
            width: 100px;
            text-align: center;
        }

        
.form-group input,
        .form-group select {
            font-size: 14px;
            color: #333;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            width: 100%;
            height: auto;
            box-sizing: border-box;
        }

        .form-group input:focus,
        .form-group select:focus {
            border-color: #45a049;
            box-shadow: 0 0 8px rgba(60, 145, 230, 0.2);
            outline: none;
        }

        .form-group label {
            font-size: 14px;
            color: #333;
            margin-bottom: 5px;
        }

        select {
            background: #fff;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-position: right 10px center;
            background-repeat: no-repeat;
        }

        select option {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

  
        .table-data .orderBox .container form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .table-data .orderBox .container form input[type="submit"]:hover {
            background-color: #45a049;
        }

        .table-data .orderBox form input[type="submit"] {
            background-color: #45a049;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .table-data .orderBox form input[type="submit"]:hover {
            background-color: #45a049;
        }


        .orderBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        .btn-edit {
            background-color: #ffc107;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
            width: 80px;
            height: 40px;
        }

        .btn-edit:hover {
            background-color: #ffca2f;
        }

        .btn-delete {
            
            background-color: #dc3545;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 80px;
            height: 40px;
        }

        .btn-delete:hover {
            background-color: #c82333;
        }
        .modal-header {
            background-color: #4CAF50;
            color: yellow;
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }

        .modal-header .close {
            color: white;
            opacity: 1;
        }

        .modal-header .close:hover {
            color: #ddd;
        }
        .btn-icon {
            display: inline-flex; 
            align-items: center; 
            justify-content: center; 
            width: 40px; 
            height: 40px; 
            background-color: #007bff;
            border: none;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            padding: 8px;
        }


.btn-icon .fas {
            font-size: 1.5em;
            margin-right: 0;
        }

        .btn-icon {
            margin-top: 20px;
            margin-left: 10px;
            color: white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .btn-tambah {
            background-color: #28a745;
            border-color: #28a745;
        }
        .btn-import {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-export {
            background-color: #ffc107;
            border-color: #ffc107;
        }
        .btn-hapus-semua {
            background-color: #dc3545;
            border-color: #ffc107;
        }
        .btn-icon i {
            margin-right: 5px;
        }

        .profile {
    position: relative;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: border-color 0.3s;
}

.profile img.active {
    border: 2px solid green;
}

.profile-popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 100;
    width: 300px;
}


.profile-popup.active {
    display: block;
}

.profile-popup h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.profile-popup p {
    margin: 5px 0;
    text-align: left;
}

.profile-popup .role {
    margin-top: 15px;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.profile-popup .role:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: skewX(45deg) translateX(-80%);
    transition: transform 0.3s;
}


.profile-popup .role:hover:before {
    transform: skewX(45deg) translateX(80%);
}

.profile-popup h3 {
    font-weight: bold;
}

.profile-popup.user p:nth-of-type(1),
.profile-popup.user p:nth-of-type(2),
.profile-popup.user p:nth-of-type(3),
.profile-popup.user p:nth-of-type(4),
.profile-popup.user p:nth-of-type(5) {
    color: #ccc;
}

 .profile-popup.user p span {
    display: inline-block;
    width: 100px;
    text-align: left
    margin-right: 10px;
}
.profile-popup.non-user p:nth-last-of-type(2) {
    font-weight: bold;
}
.profile-popup.non-user p:nth-of-type(1) {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
}
.profile-popup.non-user p:nth-of-type(2) {
    font-size: 12px;
    color: #ccc;
    text-align: center;
    font-style: italic;
}
 